In [1]:
import pandas as pd
import os

env = os.environ.get('Environment')
print(f"Environment: {env!r}")

Environment: 'uat'

In [2]:
%reload_ext jupyter_dmdg

In [3]:
%%athena_to_df --out SIPENOX_pe
SELECT 
    batch_id, 
    event_parameter_name, 
    event_start 
FROM "uat_plant_connectivity_prepared_data"."process_events"
WHERE 
    site_id = 'SIP' 
    AND building_id = 'ENOX'

In [4]:
epn = input("Enter event_parameter_name for the event_start: ")

Enter event_parameter_name for the event_start:  411/04 - Charge Methanol R24300 (2nd charge) Launching

In [5]:
pe_w_epn_entered = SIPENOX_pe[SIPENOX_pe['event_parameter_name'] == epn]
pe_w_epn_entered

,batch_id,event_parameter_name,event_start
702,22QEDB1474,411/04 - Charge Methanol R24300 (2nd charge) L...,2022-12-01 02:18:29
703,22QEDB1474,411/04 - Charge Methanol R24300 (2nd charge) L...,2022-12-01 02:18:29
901,22QEDB1437,411/04 - Charge Methanol R24300 (2nd charge) L...,2022-10-12 14:31:01
1108,23QEDE1002,411/04 - Charge Methanol R24300 (2nd charge) L...,2023-01-03 19:51:15
1233,22QEDB1485,411/04 - Charge Methanol R24300 (2nd charge) L...,2022-12-10 04:24:00
...,...,...,...
56540,23QEDB1025,411/04 - Charge Methanol R24300 (2nd charge) L...,2023-01-25 03:53:51
56741,22QEDB1473,411/04 - Charge Methanol R24300 (2nd charge) L...,2022-11-30 14:16:51
56920,23QEDB1055,411/04 - Charge Methanol R24300 (2nd charge) L...,2023-02-14 16:15:55
56970,23QEDB1169,411/04 - Charge Methanol R24300 (2nd charge) L...,2023-05-03 11:13:31
56995,22QEDB1048,411/04 - Charge Methanol R24300 (2nd charge) L...,2022-01-29 17:30:57

In [6]:
Yes_or_No = input('Do you need to specify an event_parameter_name for the event_stop? ')

Do you need to specify an event_parameter_name for the event_stop?  Yes

In [7]:
if Yes_or_No == 'Yes':
    epn2 = input("Enter event_parameter_name for the event_stop: ")
    pe_w_epn2_entered = SIPENOX_pe[SIPENOX_pe['event_parameter_name'] == epn2]
    pe_w_epn2_entered = pe_w_epn2_entered.rename(columns={'event_start': 'event_stop'})
    pe_w_epn2_entered = pe_w_epn2_entered.rename(columns={'event_parameter_name': 'event_parameter_name_2'})
    pe_w_epn_entered = pd.merge(pe_w_epn_entered, pe_w_epn2_entered, on='batch_id')

Enter event_parameter_name for the event_stop:  411/04 - Charge Methanol R24300 (2nd charge) Release

In [8]:
pe_w_epn_entered = pe_w_epn_entered.reset_index(drop=True)
pe_w_epn_entered.to_csv('pe_w_epn_entered.csv')